@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

:root{
  --accent:#2B5FC1;
  --dark:#17191D;
  --light:#F4F4F4;
  --overlay:rgba(23,25,29,0.5);
  --ease: all 0.3s ease 0.3s;
}

*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
}
  
/*header nav bar*/
nav{
  width:100%; 
  position:fixed; 
  z-index:1; 
  top:2.33em;
  color:#000; 
  text-align:center; 
  margin-top:-0.5em;
}

ul li a:hover{
  text-decoration:underline;
  font-weight: 700;
}

h1{
  font-family: Helvetica, Arial, sans-serif;
  color:#3e3d3d;
  font-size: 1em; 
  text-align:center; 
  margin-top:1.33em; 
}

ul{
  width:max-content; 
  margin:auto; 
  list-style:none;
}

ul li{
  float:left; 
  margin-right:1.33em;
}

ul li a{
  color:#3e3d3d; 
  text-decoration:dashed;
}

/*header and logo*/
.header{
  background-color:#fff;
  position: fixed;
  width:100%; 
  height:5em; 
  float:left;
  box-shadow:3px 5px 5px  #151414;
  grid-area:header;
  display: flex;
  flex-direction: column;
  justify-content: center;

}
  
.header p{
  max-width: 38em;
  margin-bottom: 2em;
}
  
/* .logo{
  float:left;
  margin-right: 40px;
  box-sizing: content-box; 
  position: fixed; 
  left:100px; 
  top: 35px; 
  transform: translate(-50%, -50%); 
} */

body{
	font-family: Helvetica, Arial, sans-serif;
	font-size: 15px;
	margin: 0;
	padding: 0;
}

/*sections*/
section{
  width:100%; 
  float:left;
	margin: 0 auto;
	overflow: hidden;
}

section[id]{
  scroll-margin-top: 75px;
}

#Intro{
  background:  #fdd951;
}

#Dictionary{
  background:#f6e192;
}

#WordOfTheDay{
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

#Game{
  background-image: url(../images/confetti.jpg);
}

#Contact{
  background:#f5f5f5;
  text-align: center;
}

h1{
  color:var(--light);
  font-family:'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 1.33em;
  margin:1.5em;
  /* background-color: cornsilk; */
  text-emphasis:g;
}

.wrapper{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:  
  "top__section"
  "content__section";
  z-index: 999;
  position: relative;
}

.top__section{
  grid-area:top__section;
  min-height:38em;
  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-areas: 
  ". content__section .";
  background:url(../images/myCover.jpg);
  height: 13.33em;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.content__section{
  grid-area:content__section;
  display: grid;
  grid-template-columns: 15% 1fr 15%;
  grid-template-areas:
  ". playlist ." ;
  margin-bottom: 4em;
}


/*dictionary*/
.playlist{
  grid-area: playlist;
}
  
.playlist__title{
  margin: 2em 0;
}
  
.videos{
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 1.33em;
}
  
.video{
  height:12em;
  grid-column-start: span 3;
  position: relative;
  transition: var(--ease);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
  
.video:hover{
  transform: scale(1.02);
}
  
.video i{
  cursor: pointer;
  font-size:4em;
  position: absolute;
  left:50%;
  top:50%;
  transform: translate(-50%,-50%);
  color: var(--light);
  opacity: 0.85;
}
  
.video i:hover{
  opacity: 1;
}

@media only screen and (max-width:1200px) {
  .video {
    grid-column-start: span 6;
    height:240px;
  }
}

@media only screen and (max-width:800px){
  .video{
    grid-column-start: span 12;
  }
}

/*word a day*/
#date {
  top:25px;
  font-size: 1.05em;
  /* line-height: 1.5em; */
  width: 100%;
  height: 1.5em;
  position: relative;
}

a, a:hover, a:active, a:visited {
  text-decoration: none !important;
  color: rgb(14, 13, 13) !important;
}

#bg {
  position: fixed; 
  top: 0; 
  left: 0; 
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}

#all p {
  padding: 0px 1.33em;
}

.font { 
  text-align: center;
  color: rgb(5, 5, 5);
  font-weight: 400;
} 

#wordCon{
  margin : 6em auto ;
  width : 20em;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 5px 15px 0px;
  background-size: cover;
  background-position: center;
  
}

#wordCon:hover{
  transform: scale(1.03);
}

.hide {
  visibility: hidden;
}

/*game quiz*/
#container{
  margin : 3em auto ;
  background-color:whitesmoke;
  height: 48em;
  width : 60em;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
  position: relative;
}

#startGame{
  font-size: 1.5em;
  font-weight: bolder;
  padding:2em;
  margin: 293px 281px;
  width:15em; 
  height:6em;
  border : 2px solid lightgrey; 
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
  position: absolute;
  color : lightgrey;
  background-color: #2B5FC1;
}

#startGame:hover{
  border: 3px solid rgb(251, 251, 251);
  color : rgb(251, 251, 251);
  background-color: rgb(11, 29, 61);
}

#quiz{
  margin : 3em auto ;
  background-color:whitesmoke;
  height: 48em;
  width : 60em;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
  position: relative;
  display: none;

}

#question{
  width:60em;
  height :4em;
  position: absolute;
  right:0;
  top:0;
}

#question p{
  text-align: center;
  padding : 1em;
  font-size: 1.5em;
}

#qVideos{
  top:75px;
  margin : 5em auto ;
  height: 14.5em;
  width : 22.6em;
  border-radius: 5px;
  position: relative;
  box-shadow: 0px 5px 15px 0px;
  
}
  
#choices{
  /* width : 50em; */
  position: absolute;
  right : 0;
  top : 13em;
  padding : 20px;
  margin: 122px 93px;

}

.choice{
  display: inline-block;
  height:12em;
  width :13.33em;
  text-align: center;
  border : 1px solid grey;
  border-radius: 10px;
  cursor: pointer;
  /* padding : 25px; */

  margin:0px 12px;
  float: left;
}

.choice img{
  display: inline-block;
  height:12em;
  width :13.33em;
  text-align: center;
  border : 1px solid grey;
  cursor: pointer;
  border-radius: 10px;
  /* padding : 25px; */
  margin-right: 10px;
  float: left;
}

.choice img: :hover{
  transform: scale(1.03); 
}

.choice:hover{
  border : 2px solid grey;
  font-weight: bold;
}

#timer{
  position: absolute;
  height : 6.66em;
  width : 13.33em;
  bottom : 0px;
  text-align: center;
}

#counter{
  font-size: 3em;
}

#btimeGauge{
  width : 10em;
  height : 10px;
  border-radius: 10px;
  background-color: lightgray;
  margin-left : 1.66em;
}

#timeGauge{
  height : 10px;
  border-radius: 10px;
  background-color: mediumseagreen;
  margin-top : -10px;
  margin-left :1.66em;
}

#progress{
  width : 33.33em;
  position: absolute;
  bottom : 0px;
  right : 0px;
  padding:5px;
  text-align: right;
}

.prog{
  width : 1.66em;
  height : 1.66em;
  border: 1px solid #000;
  display: inline-block;
  border-radius: 50%;
  margin-left : 5px;
  margin-right : 5px;
}

#scoreContainer{
  margin : 0px;
  background-color: white;
  opacity: 0.8;
  height: 48em;
  width : 60em;
  border-radius: 5px;
  box-shadow: 0px 5px 15px 0px;
  position: absolute;
  display: none;
}

#scoreContainer img{
  position: absolute;
  top:11em;
  left:28em;
}

#scoreContainer p{
  position: absolute;
  display: block;
  width : 4em;
  height :4em;
  top:26em;
  left:31em;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
}

/*contact-form*/
form{ 
  margin:10px 10%;
  padding: 20px; 
}

h1{
  font-family: Helvetica, Arial, sans-serif;
  text-align: center; 
  color: rgb(12, 12, 12); 
  font-weight: normal; 
  margin-bottom: 20px;
}

input{ 
  background: none; 
  border: 1px solid rgb(27, 27, 27); 
  border-radius: 3px; 
  padding: 6px 15px; 
  box-sizing: border-box; 
  margin: 20px 8px 40px 8px; 
  font-size: 15px; 
  color: rgb(27, 27, 27);
}   

input[type="button"]{ 
      background: rgb(228, 206, 7); 
      border: 0; 
      cursor: pointer; 
      color: #e7e4e4;
} 

    input[type="button"]:hover{ 
        background: #7dcbb2; 
        transition: .6s;
    }
    
    ::placeholder{
        color: rgb(27, 27, 27);} 